<footer id="footer_background">
			<div class="footer">
				<div class="container">
					<div class="row">
						<div class="footer-widgets">
							<div class="col-md-4">
								<div class="widget widget-about">
									<div class="widget-text">
										<div id="logo-ft">
											<a href="#" title="">
												<img src="/images/logo-ft.png" alt="">
											</a>
										</div>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In a rhoncus risus atione Pellentesque sodales risus aut
										</p>
									</div>
								</div><!-- /.widget-about -->
							</div><!-- /.col-md-4 -->
							<div class="col-md-4">
								<div class="widget widget_nav_menu">
									<h3 class="widget-title">QUICK LINK</h3>
									<ul class="menu-footer one-half">
										<li><a href="/" title=""><i class="fa fa-angle-double-right"></i> Main</a></li>
									</ul><!-- /.one-half -->
									<ul class="menu-footer one-half">
										<li><a href="/products" title=""><i class="fa fa-angle-double-right"></i> Products</a></li>
									</ul><!-- /.one-half -->
									<div class="clearfix"></div>
								</div><!-- /.widget_nav_menu -->
							</div><!-- /.col-md-4 -->
							<div class="col-md-4">
								<div class="widget widget_contact">
									<h3 class="widget-title">CONTACT</h3>
									<ul class="contact-list">
										<li>
											Phone: <span>+1 123 4214 23113</span>
										</li>
										<li>
											Email: <span>sergei@gmail.com</span>
										</li>
									</ul>
									<div class="widget widget_themesflat_socials">            
										<ul class="themesflat-shortcode-socials">
									        <li class="facebook">
						                        <a href="#" target="_blank" rel="alternate" title="">
						                            <i class="fa fa-facebook"></i>                            
						                        </a>
						                    </li>
						                    <li class="twitter">
						                        <a href="#" target="_blank" rel="alternate" title="">
						                            <i class="fa fa-twitter"></i>                            
						                        </a>
						                    </li>
						                    <li class="google-plus">
						                        <a href="#" target="_blank" rel="alternate" title="t;">
						                            <i class="fa fa-google-plus"></i>                            
						                        </a>
						                    </li>
						                    <li class="instagram">
						                        <a href="#" target="_blank" rel="alternate" title="">
						                            <i class="fa fa-instagram"></i>                            
						                        </a>
						                    </li>
						                    <li class="linkedin">
						                        <a href="#" target="_blank" rel="alternate" title="">
						                            <i class="fa fa-linkedin"></i>                            
						                        </a>
						                    </li>
						                </ul><!-- /.social -->       
								    </div>
								</div><!-- /.widget_contact -->
							</div><!-- /.col-md-4 -->
						</div><!-- /.footer-widgets -->
					</div><!-- /.row -->
				</div><!-- /.container -->
			</div><!-- /.footer -->
			<div class="footer-bottom">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<ul class="menu-ft-bottom">
								<li>
									<a href="/" title="">Main</a>
								</li>
								<li>
									<a href="/products" title="">Products</a>
								</li>
							</ul>
							<div class="copyright">
								<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
							</div>
						</div>
					</div>
				</div><!-- /.container -->
			</div><!-- /.footer-bottom -->	
		</footer><!-- /#footer_background -->
		
		<div class="button-go-top">
			<a href="#" title="" class="go-top">
				<i class="fa fa-chevron-up"></i>
			</a>
		</div><!-- /.button-go-top -->
	
	</div> <!-- /.boxed -->

	<!-- Javascript -->
    <script type="text/javascript" src="/javascript/jquery.min.js"></script>
    <script type="text/javascript" src="/javascript/tether.min.js"></script>
    <script type="text/javascript" src="/javascript/bootstrap.min.js"></script>
    <script type="text/javascript" src="/javascript/jquery.flexslider-min.js"></script>
    <script type="text/javascript" src="/javascript/owl.carousel.js"></script>
    <script type="text/javascript" src="/javascript/jquery.easing.js"></script>
    
    <script type="text/javascript" src="/javascript/jquery-countTo.js"></script>
    <script type="text/javascript" src="/javascript/jquery.cookie.js"></script>
    <script type="text/javascript" src="/javascript/waypoints.min.js"></script>
    <script type="text/javascript" src="/javascript/main.js"></script>

    <!-- Revolution Slider -->
    <script type="text/javascript" src="/revolution/js/jquery.themepunch.tools.min.js"></script>
    <script type="text/javascript" src="/revolution/js/jquery.themepunch.revolution.min.js"></script>
    <script type="text/javascript" src="/revolution/js/slider_v1.js"></script>

    <!-- SLIDER REVOLUTION 5.0 EXTENSIONS  (Load Extensions only on Local File Systems !  The following part can be removed on Server for On Demand Loading) -->    
    <script type="text/javascript" src="/revolution/js/extensions/revolution.extension.actions.min.js"></script>
    <script type="text/javascript" src="/revolution/js/extensions/revolution.extension.carousel.min.js"></script>
    <script type="text/javascript" src="/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
    <script type="text/javascript" src="/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script type="text/javascript" src="/revolution/js/extensions/revolution.extension.migration.min.js"></script>
    <script type="text/javascript" src="/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
    <script type="text/javascript" src="/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
    <script type="text/javascript" src="/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script type="text/javascript" src="/revolution/js/extensions/revolution.extension.video.min.js"></script>

	</body>
</html>