<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"><!--<![endif]-->
<head>
	<!-- Basic Page Needs -->
	<meta charset="UTF-8">
	<!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
	<title>Coinjet - Template</title>

	<!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- Boostrap style -->
	<link rel="stylesheet" type="text/css" href="/stylesheet/bootstrap.min.css">

	<!-- REVOLUTION LAYERS STYLES -->
    <link rel="stylesheet" type="text/css" href="/revolution/css/layers.css">
    <link rel="stylesheet" type="text/css" href="/revolution/css/settings.css">

	<!-- Theme style -->
	<link rel="stylesheet" type="text/css" href="/stylesheet/style.css">

	<!-- Colors -->
    <link rel="stylesheet" type="text/css" href="/stylesheet/colors/color1.css" id="colors">

	<!-- Reponsive -->
	<link rel="stylesheet" type="text/css" href="/stylesheet/responsive.css">

	<!-- Favicon and touch icons  -->
    <link href="/icon/apple-touch-icon-48-precomposed.png" rel="apple-touch-icon-precomposed">
    <link href="/icon/apple-touch-icon-32-precomposed.png" rel="apple-touch-icon-precomposed">
    <link href="/icon/favicon.png" rel="shortcut icon">

</head>
	<body>		
	
		<div class="boxed">
		
		<!-- Preloader -->
	    <div id="loading-overlay">
	        <div class="loader"></div>
	    </div>
		<div class="themesflat-top">		
		
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<ul class="flat-infomation">
							<li class="email"><a href="mailto:sergei@gmail.com" title="email">Email: sergei@gmail.com</a></li>
							<li class="phone"><a href="+32423423423423" title="phone">Call Us: +3222222 22222 222</a></li>
						</ul><!-- /.flat-infomation -->
						
						<!--
						<ul  class="box-account">							
							<li class="login">
								<a href="#" title="">Login</a>
							</li>
							<li class="sign-in">
								<a href="#" title="">Signup</a>
							</li>
						</ul>
						-->
					
						<div class="clearfix"></div><!-- /.clearfix -->
					</div><!-- /.col-md-12 -->
				</div><!-- /.row -->
			</div><!-- /.container -->
		</div><!-- /.themesflat-top -->

		<header id="header" class="header bg-color">
			<div class="container">
				<div class="row">
					<div class="header-wrap">
						<div id="logo" class="logo">
							<a href="" title="Index">
								<img src="/images/logo.png" alt="logo" />
							</a>
						</div><!-- /#logo -->
						
						<div class="nav-wrap">
							<div class="btn-menu">
                                <span></span>
                            </div><!-- //mobile menu button -->
							<nav id="mainnav" class="mainnav">
								<ul class="menu">
									<li>
                                        <a href="/" title="">MAIN</a>
                                    </li>
                                    <li>
                                        <a href="/products" title="">PRODUCTS</a>
                                    </li>
								</ul><!-- /.menu -->
							</nav><!-- /#mainnav -->
						</div><!-- /.nav-wrap -->
					</div><!-- /.header-wrap -->
				</div><!-- /.row -->
			</div><!-- /.container -->
		</header><!-- /#header -->