{{>layout/header}}


<!-- START REVOLUTION SLIDER 5.4.2 auto mode -->
        <div id="banner-container" class="rev_slider_wrapper fullwidthbanner-container" data-alias="classic4export" data-source="gallery" style="margin:0px auto;background-color:transparent;padding:0px;margin-top:0px;margin-bottom:0px;">
            <!-- START REVOLUTION SLIDER 5.3.0.2 auto mode -->
            <div id="banner-slide" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.3.0.2">
                <div class="slotholder"></div>

                
                <ul><!-- SLIDE  -->
            
                    <!-- SLIDE -->
                    <li data-index="rs-3050" data-transition="slideremovedown" data-slotamount="7" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000"    data-rotate="0"  data-saveperformance="off"  data-title="Ken Burns" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                        <!-- MAIN IMAGE -->
                        <img src="images/slides/slide-01.jpg"  alt=""  data-bgposition="center center" data-kenburns="off" data-duration="30000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="120" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="0 0" data-bgparallax="10" class="rev-slidebg" data-no-retina>
                        <!-- LAYERS -->

                        <!-- LAYER NR. 12 -->
                        <div class="tp-caption title-slide color-white letter-spacing3px" 
                            id="slide-3049-layer-1" 
                            data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                            data-y="['middle','middle','middle','middle']" data-voffset="['-97','-90','-90','-100']" 
                            data-fontsize="['55','50','42','35']"
                            data-lineheight="['72','64','50','40']"
                            data-fontweight="['700','600','600','500']"
                            data-width="['1000','900','600','400']"
                            data-height="none"
                            data-whitespace="normal"
                 
                            data-type="text" 
                            data-responsive_offset="on"                             

                            data-frames='[{"delay":1000,"speed":2000,"frame":"0","from":"y:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'

                            data-textAlign="['center','center','center','center']"
                            data-paddingtop="[10,10,10,10]"
                            data-paddingright="[0,0,0,0]"
                            data-paddingbottom="[0,0,0,0"
                            data-paddingleft="[0,0,0,0]"

                            style="z-index: 16; white-space: nowrap;">INVESTING IN CRYPTOCURRENCY SEEMS TOO EASY
                        </div>

                        <!-- LAYER NR. 13 -->
                        <div class="tp-caption sub-title color-white" 
                            id="slide-3049-layer-4" 
                            data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                            data-y="['middle','middle','middle','middle']" data-voffset="['33','50','40','30']"
                            data-fontsize="['18',18','16','14']" 
                            data-lineheight="['32','28','28','24']"
                            data-fontweight="['500','400','400','400']"
                            data-width="['900','700','500','400']"
                            data-height="none"
                            data-whitespace="normal"
                 
                            data-type="text" 
                            data-responsive_offset="on" 

                            data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":1500,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
                            data-textAlign="['center','center','center','center']"
                            data-paddingtop="[0,0,0,0]"
                            data-paddingright="[0,0,0,0]"
                            data-paddingbottom="[0,0,0,0]"
                            data-paddingleft="[0,0,0,0]"

                            style="z-index: 17; white-space: nowrap;">By enabling this easy and secure way to invest in Bitcoin and ether we hope to have eliminated the boundaries that earlier prevented individuals and companies.
                        </div>

                        <a href="products" target="_self" class="tp-caption flat-button-slider bg-blue" 

                        data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":2000,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
                     
                        data-x="['center','center','center','center']" 
                        data-y="['middle','middle','middle','middle']" data-voffset="['126','160','140','120']"
                        data-fontsize="['14','14','14','14']" 
                        data-width="['auto']"
                        data-height="['auto']">Products
                        </a><!-- END LAYER LINK -->
                    </li>

                </ul>
            </div>
        </div><!-- END REVOLUTION SLIDER -->

		<section class="flat-recent-market">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<div class="wrap-recent-text">
							<h2 class="title">ABOUT US</h2>
							<div class="content-text">
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis placerat pretium tincidunt. Donec ultricies pulvinar velit, eget euismod sapien. Duis pharetra sed ante blandit posuere. Etiam placerat metus.</p>
								<p>Proin at metus congue, semper nunc sed, sollicitudin dui. Nunc utcon dimentum mi. In pharetra ipsum leo, velas porttitor elit posuere eu. Pellentesque aliquam, neque at maximus rhoncus, ante tortor.</p>
							</div>
						</div><!-- /.wrap-recent-text -->
					</div><!-- /.col-md-6 -->
					<div class="col-md-6">
						<div class="single-image center">
							<img src="images/page/laptop-1.png" alt="">
						</div>
					</div><!-- /.col-md-6 -->
				</div><!-- /.row -->
			</div><!-- /.container -->
		</section><!-- /.flat-recent-market -->

		<section class="flat-why-choose style1 bg-browse">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="top-title center">
							<h2>WHY CHOOSE DIGITAL CURRENCY</h2>
							<p>Digital currency makes it easy to send real money quickly to anywhere in the world.</p>
						</div>
					</div>
				</div><!-- /.row -->
				<div class="row">
					<div class="col-md-4 col-sm-6">
						<div class="iconbox style3 center">
							<div class="icon">
								<img src="images/icon/security-1.png" alt="">
							</div>
							<div class="iconbox-content">
								<h4><a href="#" title="">SECURITY</a></h4>
								<p>In pretium neque a libero congue. In diam lectus, Praesent lacinia vitae elit ut mattis. Etiam et mollis dui maximus.</p>
							</div>
						</div><!-- /.iconbox style3 -->
					</div><!-- /.col-md-4 sol-sm-6 -->
					<div class="col-md-4 col-sm-6">
						<div class="iconbox style3 center">
							<div class="icon">
								<img src="images/icon/mobile-app-1.png" alt="">
							</div>
							<div class="iconbox-content">
								<h4><a href="#" title="">MOBILE APP</a></h4>
								<p>In pretium neque a libero congue. In diam lectus, Praesent lacinia vitae elit ut mattis. Etiam et mollis dui maximus.</p>
							</div>
						</div><!-- /.iconbox style3 -->
					</div><!-- /.col-md-4 sol-sm-6 -->
					<div class="col-md-4 col-sm-6">
						<div class="iconbox style3 center">
							<div class="icon">
								<img src="images/icon/wallet-1.png" alt="">
							</div>
							<div class="iconbox-content">
								<h4><a href="#" title="">SECURE WALLET</a></h4>
								<p>In pretium neque a libero congue. In diam lectus, Praesent lacinia vitae elit ut mattis. Etiam et mollis dui maximus.</p>
							</div>
						</div><!-- /.iconbox style3 -->
					</div><!-- /.col-md-4 sol-sm-6 -->
					<div class="col-md-4 col-sm-6">
						<div class="iconbox style3 center">
							<div class="icon">
								<img src="images/icon/insurance-1.png" alt="">
							</div>
							<div class="iconbox-content">
								<h4><a href="#" title="">INSURANCE</a></h4>
								<p>In pretium neque a libero congue. In diam lectus, Praesent lacinia vitae elit ut mattis. Etiam et mollis dui maximus.</p>
							</div>
						</div><!-- /.iconbox style3 -->
					</div><!-- /.col-md-4 sol-sm-6 -->
					<div class="col-md-4 col-sm-6">
						<div class="iconbox style3 center">
							<div class="icon">
								<img src="images/icon/exchange-1.png" alt="">
							</div>
							<div class="iconbox-content">
								<h4><a href="#" title="">INSTANT EXCHANGE</a></h4>
								<p>In pretium neque a libero congue. In diam lectus, Praesent lacinia vitae elit ut mattis. Etiam et mollis dui maximus.</p>
							</div>
						</div><!-- /.iconbox style3 -->
					</div><!-- /.col-md-4 sol-sm-6 -->
					<div class="col-md-4 col-sm-6">
						<div class="iconbox style3 center">
							<div class="icon">
								<img src="images/icon/buying.png" alt="">
							</div>
							<div class="iconbox-content">
								<h4><a href="#" title="">RECURRING BUYING</a></h4>
								<p>In pretium neque a libero congue. In diam lectus, Praesent lacinia vitae elit ut mattis. Etiam et mollis dui maximus.</p>
							</div>
						</div><!-- /.iconbox style3 -->
					</div><!-- /.col-md-4 sol-sm-6 -->
				</div><!-- /.row -->
			</div><!-- /.container -->
		</section><!-- /.flat-why-choose style1 -->
		
	
{{>layout/footer}}